<!-- fragments/chat-widget.html -->
<div th:fragment="chatWidget">
    <!-- Bottone chat in basso a destra -->
    <div id="chatCircle">
        <button id="openChat">
            <span><img src="/img/sources/icons/chat-widget.svg" alt="Chat Widget"></span>
        </button>
    </div>

    <!-- Modulo chat supporto -->
    <div id="chatWidget">
        <!-- Banda superiore blu -->
        <h4>Benvenuta/o in Assistenza!</h4>
        <!-- STEP 1: scelta tra messaggio o feedback -->
        <div id="chatStep1">
            <div class="radio-group">
           <p class="radio-description">Hai problemi con la app? Vuoi suggerirci nuove funzionalità?</p>
                <input type="radio" id="radioMessage" name="chatType" value="message" checked>
                <label for="radioMessage">Inviaci un messaggio!</label>
                
                	<p class="radio-description">Ti piace la app? Vuoi lasciarci un feedback, una recensione?</p>
                <input type="radio" id="radioFeedback" name="chatType" value="feedback">
                <label for="radioFeedback">Inviaci un feedback!</label>
            </div>
            <button id="nextBtn">Avanti</button>
        </div>
        <!-- STEP 2a: invio messaggio -->
        <div id="chatStepMessage" style="display:none;">
            <div>
                <strong>Teniamo molto a comunicare con te!</strong>
                Il messaggio che ci invierai genera un ticket che puoi trovare nella pagina di assistenza dedicata.
            </div>
            <textarea id="messageText" rows="2" placeholder="Digita qui il tuo messaggio..."></textarea>
            <button id="sendMessageBtn">Invia</button>
        </div>
        <!-- STEP 2b: invio feedback -->
        <div id="chatStepFeedback" style="display:none;">
            <div>
                <strong>Teniamo molto a comunicare con te!</strong>
                Il feedback che ci invierai è molto prezioso per noi, cerchiamo di migliorare continuamente il servizio!
            </div>
            <textarea id="feedbackText" rows="2" placeholder="Digita qui il feedback..."></textarea>
            <button id="sendFeedbackBtn">Invia</button>
        </div>
        <!-- Conferma invio messaggio -->
        <div id="chatConfirmationMessage" style="display:none;">
            <div><b>Messaggio inviato!</b></div>
            <div>Grazie per il tuo messaggio, ti risponderemo il prima possibile.<br>Controlla la mail e la sezione ticket.</div>
            <button class="closeChatBtn">Chiudi</button>
        </div>
        <!-- Conferma invio feedback -->
        <div id="chatConfirmationFeedback" style="display:none;">
            <div><b>Feedback inviato!</b></div>
            <div>Grazie per il tuo messaggio, ne faremo tesoro!</div>
            <button class="closeChatBtn">Chiudi</button>
        </div>
        <!-- Banda inferiore blu -->
        <div class="bottom-bar">Il Team ti ascolta!</div>
    </div>
</div>
